/* App.css */
body {
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: #1a1a1a;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app-container {
  max-width: 600px;
  width: 90%;
  background-color: #2b2b2b;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 40px rgba(255, 0, 255, 0.8), 0 0 80px rgba(0, 255, 255, 0.8);
}

h2 {
  color: #ff00ff;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
}

.form-container,
.table-container {
  background-color: #3b3b3b;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 0, 255, 0.5), 0 0 40px rgba(0, 255, 255, 0.5);
}

input {
  display: block;
  width: 95%;
  padding: 12px;
  margin-bottom: 15px;
  background-color: #4b4b4b;
  border: none;
  border-radius: 8px;
  color: #00ffff;
  font-size: 14px;
  outline: none;
  box-shadow: 0 0 15px rgba(255, 0, 255, 0.5);
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  background-color: #ff00ff;
  border: none;
  border-radius: 8px;
  color: #000;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d000d0;
}

.clear-table-btn {
  background-color: #00ffff;
  color: #000;
}

.clear-table-btn:hover {
  background-color: #00d0d0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #4b4b4b;
}

th {
  background-color: #ff00ff;
  color: #000;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00ff, 0 0 35px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 75px #ff00ff;
}

td {
  background-color: #4b4b4b;
  color: #00ffff;
  text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff;
}